{% extends "layout.html" %}
{% from 'macros/snippets.html' import connections, entity_link %}

{% block title %}
  Welcome
{% endblock %}

{% block banner %}


  <div class="row">
    <div class="col-md-5 hidden-xs hidden-sm">
      {% include 'westafricamap.html' %}
      <div class="hidden-xs hidden-sm">
        <h3 id="title">All Countries</h3>
        <hr>
        <div id="text">Click on a country to find out more about its whistleblower laws, procedures and cases</div>
        <br>
        <div>
          {% include 'top_list.html' %}
        </div>
      </div>
    </div>
    <div class="col-md-7">
        <p class="home-teaser">
          {{APP_NAME}} provides users with a tool to investigate the connections that exist between the private and public spheres in West Africa. Specifically, it provides a unique insight into the financial connectivities that can, and often do, determine how, when, and why money is expended by government. 
          <a href='{{url_for('base.page', path='about')}}'>Read more...</a>
        </p>
        <div class="home-banner">
          <div class="container">
            <h1>
              {{APP_NAME}}
              <small>{{APP_SLOGAN}}</small>
            </h1>
          </div>

        </div>
        <div>
            {% include 'search_form.html' %}
        </div>
    </div>
  </div>



{% endblock %}